@(signupForm: Form[SignupForm], message: String)
@import helper._

@title={
	create an account
}

@main(title) {
	
	<h1>Create an account</h1>

	@form(action = routes.Signup.create) {
        @inputText(
            signupForm("email"), '_label -> "Email ",
            '_help -> "Enter a valid email address."
        )
            
        @inputPassword(
            signupForm("password"), 
            '_label -> "Password",
            '_help -> "A password must be at least 6 characters. "
        )
        <input type="submit" value="submit">
    }

}